* {
    box-sizing: border-box;
}
html {
    font-family: Mont, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    /*background-color: #0C0B3C;*/
}

.background {
    background-color: #0C0B3C;
    margin: 0 auto;
    width: 1440px;
    height: 1979px;
}
.background_bottom {
    position: absolute;
    background-color: #4B2EC8;
    margin-top: auto;
    top: 1483px;
    width: 1440px;
    height: 496px;
    z-index: 1;
}
.header {
    position: fixed;
    z-index: 5;
    width: 1440px;
    height: 40px;
    padding: 40px 120px ;
    background-color: #0C0B3C;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}
.header-elements {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 180;
    height: 40;
    margin-left: 0;
    margin-top: 0;
}
#logo {
    margin-top: 8px;
    margin-left: 10px;
}
.navbar_text {
    position: absolute;
    width: 531px;
    height: 24px;
    right: 120px;
    display: inline-block;
}
.menu {
    position: absolute;
    width: 80%;
    height: 100%;
    padding-right: 5px;
}
.menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu li {
    font-family: sans-serif;
}
.menu a:hover {
    color: #4B2EC8;
    text-decoration: underline;
    text-decoration-color: #4B2EC8;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.menu a:active {
    color: #A596E3;
    text-decoration: underline;
    text-decoration-color: #A596E3;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}
.menu a {
    text-decoration: none;
    color: white;
}
.language {
    width: 10%;
    height: 20px;
    position: absolute;
    padding-left: 5px;
    right: 0;
}
.language ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.language li {
    font-family: sans-serif;
}
button {
    background-color: #4B2EC8;
    border: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 8px;
}
button:hover {
    background-color: #6F58D3;
}
button:active {
    background-color: #2E1598;
}
.card_contacts_1, .card_contacts_2, .card_contacts_3 {
    position: absolute;
    background-color: #FFFFFF0D;
    border-radius: 8px;
}
.card_contacts_1 {
    width: 1200px;
    height: 496px;
    top: 150px;
    margin-left: 120px;
    color: #FFFFFF;
}
.frame1 {
    position: absolute;
    width: 1120px;
    height: 416px;
    margin: 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.frame1_text {
    width: 728px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.frame1_text h1, p {
    margin: 0;
    font-family: 'Manrope', sans-serif;
}
.frame1_text h1 {
    line-height: 60px;
    font-size: 40px;
}
.frame1_text p {
    font-size: 20px;
}
.frame1_images {
    width: 1120px;
    height: 148px;
    display: flex;
    justify-content: space-between;
}
.frame1_buttons {
    width: 1120px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}
.frame1_buttons button {
    width: 542px;
}
.card_contacts_2, .card_contacts_3 {
    width: 590px;
    height: 440px;
    top: 666px;
}
.card_contacts_2 {
    margin-left: 120px;
}
.frame2, .frame3 {
    position: absolute;
    width: 542px;
    height: 392px;
    margin-top: 24px;
    margin-left: 24px;
}
.frame2_text {
    position: absolute;
    width: 386px;
    height: 116px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.frame2_text h1, p {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
}
.frame2_text h1 {
    line-height: 60px;
    font-size: 40px;
}
.frame2_text p {
    font-size: 20px;
}
.frame2_image {
    position: absolute;
    width: 484px;
    height: 174px;
    margin-top: 141px;
    margin-left: 29px;
}
.frame2_button, .frame3_button {
    position: absolute; 
    width: 542px;
    height: 52px;
    bottom: 0;
}
.frame2_button button, .frame3_button button {
    width: 542px;
    height: 52px;
}
.card_contacts_3 {
    margin-left: 730px;
}
.frame3_text {
    position: absolute;
    z-index: 2;
    width: 528px;
    height: 204px;
    color: #FFFFFF;
}
.frame3_text h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
.frame3_text p {
    font-size: 20px;
    line-height: 28px;
}
.frame3_image {
    position: absolute;
    z-index: 1;
    margin-top: 75px;
    margin-left: 271px;
}
.form_card {
    position: absolute;
    background-color: #FFFFFF;
    width: 1200px;
    height: 506px;
    top: 1206px;
    margin-left: 120px;
    border-radius: 10px;
    z-index: 2;
}
.form-style-block {
    padding: 74px 80px;
    display: flex;
    justify-content: space-between;
}
.form_text {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 60px;
}
.form_text h1 {
    font-size: 36px;
    font-weight: 800;
    margin: 0;
}
.form_text p {
    color: #6B7280;
    font-size: 18px;
    font-weight: 800;
}
.form_text a {
    color: #4B2EC8;
}
.form {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
._form {
    display: flex;
    justify-content: center;
    width: 100%;
}
.formColumn {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form input[type='text'] {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgb(107, 114, 128);
    padding: 8px 12px;
    height: 32px;
    background: rgb(249, 250, 251);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 213, 219);
}
.form input:not([type='button']):hover {
    border-bottom: #4B2EC8 1px solid;
}
.form input[type='email'] {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgb(107, 114, 128);
    padding: 8px 12px;
    height: 32px;
    background: rgb(249, 250, 251);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 213, 219);
}
.form input[type='tel'] {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgb(107, 114, 128);
    padding: 8px 12px;
    height: 32px;
    background: rgb(249, 250, 251);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 213, 219);
}
.form input[type='file'] {
    resize: none;
    width: 100%;
    font-family: Mont, serif;
    font-style: normal;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: rgb(107, 114, 128);
    padding: 8px 40px 8px 12px;
    height: 32px;
    margin-bottom: 0px;
    background: rgb(249, 250, 251);
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    border-bottom: 1px solid rgb(209, 213, 219);
}
.error-messages {
    font-style: inherit;
    min-height: 30px;
    color: rgb(242, 94, 94);
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    padding: 5px;
}
.extensions {
    color: #6B7280;
    font-size: 10px;
}
.form_card input[type='button'] {
    position: absolute;
    width: 155px;
    height: 56px;
    right: 80px;
    background-color: #4B2EC8;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: #FFFFFF;
}
.form_card input[type='button']:hover {
    background-color: #6F58D3;
}
.form_card input[type='button']:active {
    background-color: #2E1598;
}
.footer {
    position: absolute;
    width: 1280px;
    height: 232px;
    bottom: 22px;
    margin-left: 80px;
    padding: 48px 32px;
    display: flex;
    gap: 38px;
    flex-direction: column;
    align-items: center;
}
.links {
    width: auto;
    height: auto;
}
.links ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
}
.links li {
    padding: 8px 20px;
}
.links a {
    color: #FFFFFF;
    text-decoration: none;
}
.messangers {
    width: 148px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.copyright {
    width: 240px;
    height: 24px;
    display: flex;
    justify-content: space-around;
    
}
.copyright p {
    color: #FFFFFF;
}
.copyright a {
    color: #FFFFFF;
    text-decoration: none;
}
.telegram_logo, .instagram_logo, .vk_logo {
    width: 24px;
    height: 24px;
}
#tg_logo, #inst_logo, #vk_logo {
    margin: 0 auto;
}